.col-lg{
     height: 600px;


}
iframe{
    width: 100%;
    height: 600px;
}
 .col-lg h4{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    background: -webkit-linear-gradient(rgb(187, 135, 135), rgb(154, 25, 25));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
.form-group{
    width: 55%;
    position:relative;
    left: 20%;
    margin-top: 25px;
    padding: 5px ;
    background: linear-gradient(to right, rgb(198, 46, 46) 20%, rgb(0, 42, 255) 40%, #FF0 60%, rgb(255, 251, 251) 80%);
    border-radius: 40%;


}
.form-control{
    border-radius: 50%;
    text-align: center;
    border: 4px solid rgb(4, 23, 132);
    background-color: rgb(249, 234, 234);
  
}
.btn{
    border: 2px solid red;
    border-radius: 10px;

} 

/* media quories */
@media (max-width:320px) {
    iframe{
        width: 100%;
        height: 600px;
    
    }
    .col-lg h4{
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        background: -webkit-linear-gradient(rgb(187, 135, 135), rgb(154, 25, 25));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .btn{
        border: 1px solid red;
       position: absolute;
       left: 34%;
        width: 90px;
        height: 8vh;
        top: 182%;
    }
    .conatiner{
        overflow: hidden;

    }
    .form-group{
    width: 70%;
    position:relative;
    left: 15%;
    margin-top: 30px;
    padding: 5px ;
    background: linear-gradient(to right, rgb(198, 46, 46) 20%, rgb(0, 42, 255) 40%, #FF0 60%, rgb(255, 251, 251) 80%);
    border-radius: 40%;
    }
}
/* for 376width */
@media (max-width:376px) {
    iframe{
        width: 100%;
        height: 600px;
    
    }
    
    .col-lg h4{
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        background: -webkit-linear-gradient(rgb(187, 135, 135), rgb(154, 25, 25));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .btn{
        border: 1px solid red;
       position: absolute;
       left: 35%;
        width: 90px;
        height: 8vh;
    }
    .conatiner{
        overflow: hidden;

    }
    .form-group{
    width: 70%;
    position:relative;
    left: 15%;
    margin-top: 30px;
    padding: 5px ;
    background: linear-gradient(to right, rgb(198, 46, 46) 20%, rgb(0, 42, 255) 40%, #FF0 60%, rgb(255, 251, 251) 80%);
    border-radius: 40%;
    }
 }
/* for425 width */ 
@media (max-width:426px) {
    iframe{
        width: 100%;
        height: 600px;
        
    
    }
    .col-lg h4{
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        background: -webkit-linear-gradient(rgb(187, 135, 135), rgb(154, 25, 25));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .btn{
        border: 1px solid red;
       position: absolute;
       left: 35%;
        width: 90px;
        height: 8vh;
    }
    .conatiner{
        overflow: hidden;
    }


    .form-group{
    width: 70%;
    position:relative;
    left: 15%;
    margin-top: 30px;
    padding: 5px ;
    background: linear-gradient(to right, rgb(198, 46, 46) 20%, rgb(0, 42, 255) 40%, #FF0 60%, rgb(255, 251, 251) 80%);
    border-radius: 40%;
    }
}
@media (max-width:768px) {
    .conatiner{
        overflow: hidden;
    }
    iframe{
       width:100%;
    }
}
@media (max-width:1440px) {

    .conatiner{
        overflow: hidden;
    }
}
@media (max-width:2560) {
    .conatiner{
        overflow: hidden;
    }
    
}