<div class="conatiner">
    <div class="row">
        <div class="col-lg">
            <div class="embed-responsive embed-responsive-21by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3867.5151217113357!2d74.46536871491898!3d14.223145890043803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbc390afcde7455%3A0xedee0368474cf2cd!2sSLV%20IYENGAR%20BAKERY!5e0!3m2!1sen!2sin!4v1662572819313!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="embed-responsive-item"></iframe>
              </div>

        </div>
        <div class="col-lg">
            <h4 class="mt-4"><strong>Get in Touch</strong></h4>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" name="" value="" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="" value="" placeholder="E-mail">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" name="" value="" placeholder="Phone">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
          </div>
          <div class="d-grid gap-2 col-2 mx-auto mt-4">
           <button class="btn btn-success" type="submit" name="button">
            <i class="bi bi-hand-thumbs-up-fill"> Submit</i></button>
           
          </div>
        </form>

        </div>
    </div>
</div>