<div class="container">
    <h1 class="linear-wipe mt-4"> About us</h1>
    <div class="row mt-4">
        <div class="col-lg">
            <div class="clearfix">
                <img src="../../../assets/img/IMG_20210708_195407.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
              
              </div>
        
        </div>
        <div class="col-lg bg-info">
         <p class="mt-4">
            The ‘SLV Ayyangar Bakery’  is an indian-style pastry kitchen established in 2018. 
            The organization opened 
            its first branch on Gunuvante in uttar kannada and has since propelled a further 
            six branches crosswise over the Gunuvante, maki, mavinkatte, honnavar, 
            and kasargod.
         </p>
         <p>
            Our Mission:
             to give the best crisply prepared blessings and treats for the majority of life’s minutes,
              conveyed with warmth and sponsored by our assurance of brilliance.
          </p> 
          <p> Our Promise:

            As our client, we guarantee you:
            
            Delightful cookies and newly prepared merchandise
            Just the most astounding quality principles
            Benevolent administration concentrated on perfection
            Reliable, trustworthy items and administrations
            Extraordinary blessing thoughts and select bundling
            The most grounded certification in the business
            

          </p>
         <p class="hello">
            We offer our clients a full scope of bread, forte bread, morning merchandise, cakes, and baked goods.
            Our bread is heated day by day at our pastry shop in East Horsley and is conveyed to our twelve shops. We utilize profoundly gifted specialty 
            dough punchers to guarantee each portion of bread is flawless without fail.
         </p>
         <p class="hello">
             SLV Ayyangar Bakery’, the name itself, shows that we plan the cakes that precisely suit your decision whatever event it’s.
             We are at your administration for a few years, however concoct a wide scope of cakes and pastries.
         </p>
         
          
        </div>
    </div>
</div>